@{
    ViewData["Title"] = "Prochaine fermeture";
}
@model List<FermeturePont>

<div class="text-center">
    <h1 class="display-4">Prochaine fermeture</h1>
    <p>Prochaine fermeture :</p>
</div>
<h1>Liste des fermeture</h1>

<ul>
    @foreach (var fermeture in Model)
    {
        <li>@fermeture.boat_name</li>
    }
</ul> 